# Lottery Chances App
## The Engineering dept is making an app that will help the lottery players to see their chances of winning 
## The data that we are having is from a Canadian lotto company 6/49

### The app aims on answering the following questions:
- What is the probability of winning a big prize using one ticket
- Check if the number has been picked up before, and what is the probability of winning with that ticket
- What is the probability of winning when we have more than one ticket
- What is the probability of winning small prize picking up winning numbers

In [61]:
# importing all the libraries that we are going to use 
import pandas as pd
import time

In [2]:
#load the data set into pandas
data_649 = pd.read_csv('649.csv')

In [3]:
#load the data to get the overview of the data we are having
data_649

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45
...,...,...,...,...,...,...,...,...,...,...,...
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [5]:
#get summary of all the columns
data_649.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
PRODUCT            3665 non-null int64
DRAW NUMBER        3665 non-null int64
SEQUENCE NUMBER    3665 non-null int64
DRAW DATE          3665 non-null object
NUMBER DRAWN 1     3665 non-null int64
NUMBER DRAWN 2     3665 non-null int64
NUMBER DRAWN 3     3665 non-null int64
NUMBER DRAWN 4     3665 non-null int64
NUMBER DRAWN 5     3665 non-null int64
NUMBER DRAWN 6     3665 non-null int64
BONUS NUMBER       3665 non-null int64
dtypes: int64(10), object(1)
memory usage: 315.1+ KB

In [18]:
#function to calculate factoria


def factorial(n):
    fact = 1
    for i in range(1,n):
        fact = fact*i
    return fact*n

In [21]:
#function to calculate permutations  when we we are drawing elements without replace


def factorial_wt_replace(n,k):
    numerator = factorial(n)
    denominator = factorial((n-k))
    return numerator/denominator

In [23]:
#function to calculate combination


def combination(n,k):
    numerator = factorial_wt_replace(n,k)
    denominator = factorial(k)
    return numerator/denominator

In [25]:
#unit test
factorial(len(["a", "b", "j", "k", "x", "y"]))

720

In [26]:
#unit test
factorial_wt_replace(52,5)

311875200.0

In [27]:
#unit test
combination(52,5)

2598960.0

### What is the probability of winning a big prize using one ticket

In [30]:
#the probability of winning a big prize using one ticket


successful_outcomes = 1
number_outcomes = combination(49,6)


probability = (successful_outcomes/number_outcomes)*100
probability

7.151123842018516e-06

### Check if the number has been picked up before, and what is the probability of winning with that ticket

In [75]:
#checking if the number has been selected before.


def checking_historical(list_in):
    trues = []
    for index,row in data_649.iterrows():
        string = row[4:10]
        string = string.to_list()

        if string == list_in:
            trues.append(True)
    return(len(trues))

In [79]:

checking_historical([14, 24, 31, 39, 37, 48])

0

The answer should be the number of times that the particular event has happened + the probability of one ticket to give a  win

### What is the probability of winning when we have more than one ticket

In [80]:
#calculating the probability of winning lottery using more than one ticket


def multi_ticket_lottery(n):
    successful_outcomes = n
    number_outcomes = combination(49,6)
    probability = (successful_outcomes/number_outcomes)*100
    return probability

In [82]:
multi_ticket_lottery(13983816)

100.0

In [ ]:
#I still do not understand how to calculate probability of having small prize